.calorie-banner {
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle farthest-side at 0% 50%,
        #282828 23.5%,
        rgba(153, 111, 27, 0) 0
    )
    21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #2c3529 24%,
        rgba(240, 160, 17, 0) 0
    )
    19px 30px,
    linear-gradient(
        #282828 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #282828 0
    )
    0 0,
    linear-gradient(
        150deg,
        #282828 24%,
        #2c3529 0,
        #2c3529 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3529 0,
        #2c3529 76%,
        #282828 0
    )
    0 0,
    linear-gradient(
        30deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
    )
    0 0,
    linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
    #282828;
    background-size: 40px 60px;
}

/* .calorie-banner {
    width: 100%;
    height: 100%;
    --s: 200px;
    --c1: #110705;
    --c2: #87644b;
    --c3: #ca9e7a;
    background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
        
    )
    calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
} */

#banner-title {
    color: white;
}

.calorie-banner-content {
     padding: 10px;
}
