.macro--container {
  border: 5px solid brown; 
  margin: 8px;
  background-color: beige;
  border-radius: 10px;

}

.macro--container p {
  padding-left: 10px;
}

.macro-get-by-id-container {
  border: 5px solid; 
  margin: 8px;
}

.macro--form {
  border: 2px solid black;
  display: flexbox;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 50%;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(to bottom right, skyblue , lightgray);
}

.macro-form-title{
  text-align: center;
}

.macro-form-labels-top-half{
  justify-content: center;
  align-items: center;
  display: flexbox;
  margin-top: 15px;
  margin-bottom: 15px;
}

.macro-form-labels-bot-half{
  justify-content: center;
  align-items: center;
  display: flexbox;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-label {
  margin: 10px
}

.macro--form button {
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  background-color: darkgray;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.macro--form button:hover {
  background-color: lightgray;
}

.macro-display {
  display: grid;
  grid-template-columns: auto auto auto;
}

.macro-nav {
  display: flex;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px gray;
}

.macro-nav button {
  background-color: skyblue;
  color: black;
  margin-right: 10px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  border: 1px solid white;
}

.macro-nav h1 {
  padding-left: 15px;
  margin-right: auto;
}

.dates-link {
  color: black;
}

.macro-date-nav {
  display: flex;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px gray;
}

.macro-date-nav button {
  background-color: skyblue;
  color: black;
  margin-right: 10px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  border: 1px solid white;
}

.macro-date-nav h2 {
  padding-left: 15px;
  margin-right: auto;
}

.macro-date-buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: center;
  
}

.macro-date-buttons button {
  width: 200px;
  height: 75px;
  background-color: brown;
  border: 5px solid beige;
  box-shadow: 2px 2px brown;
}

.macro-date-buttons button:hover {
  cursor: pointer;
  background-color: beige;
  border: 5px solid brown; 
  box-shadow: 2px 2px beige;
}